{% extends "layout.twig" %}

{% block header %}
{% include "navbar.twig" %}
{% endblock %}

{% block content %}

<div class="container w-50">

    <form action="" method="POST" enctype="multipart/form-data">

        {% if section == "username" %}
        <div class="form-floating mb-3">
            <input name="username" value="{{ userDto.username }}" required type="text"
                class="form-control {{ userDto.errors.username ? " is-invalid" }}" id="floatingUsername"
                placeholder="Username">
            <label for="floatingUsername">Username</label>
            {% if userDto.errors.username %}
            <div class="invalid-feedback">
                {{ userDto.errors.username }}
            </div>
            {% endif %}
        </div>
        


        {% elseif section == "oldpassword" %}
        <div class="form-floating mb-3">

            <input name="password" required type="password" class="form-control {{userDto.errors.password ? "
                is-invalid" }}" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            
            {% if userDto.errors.password %}
            <div class="invalid-feedback">
                {{ userDto.errors.password }}
            </div>
            {% endif %}
        </div>

        <div class="mt-2 w-100">
            <p class="float-start">
                <input type="checkbox" id="cbPassword" class="form-check-input me-2"/><label for="cbPassword" class="text-muted">Show Password</label>
            </p>
            <div class="float-end align-items-end d-flex flex-column">
                <small class="float-end">100/100</small>
                <a href="/forgetpassword">Forget Password</a>
            </div>
        </div>
        
        {% else %}

        <input type="hidden" name="checkkey" value="{{ checkkey }}">

        <div class="form-floating mb-3">
            <input name="password" required type="password" class="form-control {{userDto.errors.password ? "
                is-invalid" }}" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            {% if userDto.errors.password %}
            <div class="invalid-feedback">
                {{ userDto.errors.password }}
            </div>
            {% else %}
            <small class="text-muted">a strong password contains combination of alphabets numbers and symbols and
                minimum
                length 8</small>
            {% endif %}
        </div>
        <div class="mt-2 w-100">
            <p class="float-start">
                <input type="checkbox" id="cbPassword" class="form-check-input me-2"/><label for="cbPassword" class="text-muted">Show Password</label>
            </p>
            <div class="float-end align-items-end d-flex flex-column">
                <small class="float-end">100/100</small>
                <a href="/forgetpassword">Forget Password</a>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input name="confirmPassword" required type="password"
                class="form-control {{userDto.errors.confirmPassword ? "is-invalid" }}"
                id="floatingConfirmPassword" placeholder="Confirm Password">
            <label for="floatingConfirmPassword">Confirm Password</label>
            {% if userDto.errors.confirmPassword %}
            <div class="invalid-feedback">
                {{ userDto.errors.confirmPassword }}
            </div>
            {% else %}
            <small class="text-muted">retype the password</small>
            {% endif %}
        </div>

        <div class="mt-2 w-100">
            <p class="float-start">
                <input type="checkbox" id="cbPassword" class="form-check-input me-2"/><label for="cbPassword" class="text-muted">Show Password</label>
            </p>
            <div class="float-end align-items-end d-flex flex-column">
                <small class="float-end">100/100</small>
                <a href="/forgetpassword">Forget Password</a>
            </div>
        </div>
        
        {% endif %}

        <div class="float-end">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save me-2"></i>
                Change Password
            </button>
        </div>
        

    </form>



</div>

{% endblock %}