<div class="container">
    <div class="float-start text-muted"><i class="fa fa-calendar me-2"></i><i>{{formatprettydatetimeshort(currentpost.createdOn)}}</i></div>
    <div class="container text-center">
        
        <p class="display-3 mb-2">{{currentpost.title}}
            
        </p>
        
        <p class="lead">
            <i>- by <a href="/profile/{{currentpost.creator.username}}" class="text-secondary">{{fullname(currentpost.creator.firstName,currentpost.creator.lastName)}}</a></i>
        </p>
    </div>
    
    <p class="lead p-2">
        {{currentpost.textContent}}
    </p>
</div>