{% extends "layout.twig" %}

{% block header %}
{% include "navbar.twig" %}    
{% endblock %}

{% block content %}

<div class="container-fluid w-50 mx-auto">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-10 col-12">
                <div class="form-floating mb-3">
                    <input name="username" value="{{ userDto.username }}" required type="text" 
                        class="form-control {{userDto.errors.username ? "is-invalid"}}" id="floatingUsername"
                        placeholder="Username">
                    <label for="floatingUsername">Username</label>
                    {% if userDto.errors.username %}
                    <div class="invalid-feedback">
                        {{ userDto.errors.username }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="form-floating mb-3">
                    <input name="password" required type="password" 
                            class="form-control {{userDto.errors.password ? "is-invalid"}}" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    {% if userDto.errors.password %}
                    <div class="invalid-feedback">
                        {{ userDto.errors.password }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="form-floating mb-3">
                    <input name="confirmPassword" required type="password" 
                            class="form-control {{userDto.errors.confirmPassword ? "is-invalid"}}" id="floatingConfirmPassword"
                        placeholder="Confirm Password">
                    <label for="floatingConfirmPassword">Confirm Password</label>
                    {% if userDto.errors.confirmPassword %}
                    <div class="invalid-feedback">
                        {{ userDto.errors.confirmPassword }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="form-floating mb-3">
                    <input name="firstName" value="{{ userDto.firstName }}" required type="text" 
                            class="form-control {{userDto.errors.firstName ? "is-invalid"}}" id="floatingFirstname"
                        placeholder="First Name">
                    <label for="floatingFirstname">First Name</label>
                    {% if userDto.errors.firstName %}
                    <div class="invalid-feedback">
                        {{ userDto.errors.firstName }}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="form-floating mb-3">
                    <input name="lastName" value="{{ userDto.lastName }}" required type="text" 
                            class="form-control {{ userDto.errors.lastName ? "is-invalid"}}" id="floatingLastname"
                        placeholder="Last Name">
                    <label for="floatingLastname">Last Name</label>
                    {% if userDto.errors.lastName %}
                    <div class="invalid-feedback">
                        {{ userDto.errors.lastName }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-12">
                <div class="form-floating mb-3">
                    <input name="email" value="{{ userDto.email }}" required type="email" 
                            class="form-control {{userDto.errors.email ? "is-invalid"}}" id="floatingEmail"
                        placeholder="Email">
                    <label for="floatingEmail">Email</label>
                    {% if userDto.errors.email %}
                    <div class="invalid-feedback">
                        {{ userDto.errors.email }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        
        <div class="row justify-content-center">
            <div class="col-4">
                <button type="submit" class="btn btn-primary mb-3"><i class="fa fa-user-plus me-2" aria-hidden="true"></i>Sign Up</button>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <small class="d-block mb-3">already registered? <a href="/login">Log In</a></small>
            </div>
        </div>
        </div>
    </form>
</div>

{% endblock %}