{% extends "layout.twig" %}

{% block meta %}

<meta name="description" content="{{ currentpost.shortDescription }}" />
<meta name="content_origin" content="{{ currentpost.createdOn.format(" Y-m-d")}}" />

{% endblock %}

{% block styles %}

<link rel="stylesheet" href="/public/styles/sidebar.css"/>

{% endblock %}

{% set hasSidepanelPosts = sidepanelposts is not empty %}

{% block header %}
{% set showLeftSidebarToggle = hasSidepanelPosts %}
{% include "user/navbar.twig" %}
{% endblock %}


{% block content %}

<div class="d-flex wrapper">

    {% if hasSidepanelPosts %}
    <div class="sidebar-wrapper">
        {% include "user/searchpostsidepanel.twig" %}
    </div>
    {% endif %}

    <div class="page-content-wrapper">
        <div class="container-fluid">
            <!-- 
            actions buttons for current post.
            show this if user is viewing own post
            -->
            {% if me == currentpost.creator %}
            <div class="container-fluid d-flex justify-content-end mb-3">
                <a href="/post/{{currentpost.postId}}/edit" class="btn btn-primary me-2">
                    <i class="fa fa-pencil"></i>
                    Edit
                </a>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePostConfirm">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>
            </div>
            {% endif %}

            <!-- show content -->
            {% include "user/postcontent.twig" %}
        </div>
    </div>
    
</div>

<!-- START: confirmation modal before delete all posts -->
<div class="modal fade" id="deletePostConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deletePostConfirmTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="deletePostConfirmTitle">Confirm Delete Post</h5>
            </div>
            <div class="modal-body">
                You are about to delete your post <strong>{{currentpost.title}}</strong>. Once deleted you cann't
                restore your post later any way. Confirm to proceed
                or cancel.
            </div>
            <div class="modal-footer">
                <a href="/post/{{currentpost.postId}}/delete" class="btn"
                    >Confirm</a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- END: confirmation modal before delete all posts -->


{% endblock %}